.myclass1{
    background-color: rgb(223, 134, 134);
    border: 4px;
    border-style: dotted;
    border-color: rgb(200, 255, 0);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(158, 199, 81);
}

span{
    background-color: rgb(185, 185, 250);
}

p{
    color: rgb(44, 66, 66);
}

.myclass2{
    color: red;
}

#one{
    color: blue;
}

#two{
    color: rgb(42, 165, 124);
}

#up{
    text-align: center;
    border: 10px solid blue;
    margin-bottom: 100px;
}

#middle{
    text-align: center;
    border: 10px solid green;
    margin-left: 100px;
    margin-right: 100px;
}

#down{
    text-align: center;
    border: 10px solid red;
    padding-top: 20px;
}